
<%= render 'layouts/errors', obj: @article %>


<div class="form">
  <div class="form-group">
    <%= form_with(model: @article, local: true) do |form| %>
      <div class="field">
        <%= form.label :title %> <br/>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :description %><br/>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :categories %>
        <%= form.collection_select(
         :category_ids,
         Category.all,
         :id,
         :name,
         { prompt: "Select a category"},
         { multiple: true, class: "form-select shadow rounded mb-3", size: Category.all.count + 1 }) 
        %>
      </div>

      <div class="actions">
        <%= form.submit :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', articles_path, class: "btn btn-secondary" %>
      </div>
      <% end %>
  </div>
</div>