<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<div class="form">
  <div class="form-group">
    <%= form_with(model: @article, local: true) do |form| %>
      <div class="field">
        <%= form.label :title %> <br/>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :description %><br/>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', articles_path, class: "btn btn-secondary" %>
      </div>
      <% end %>
  </div>
</div>