<div class="container mt-5">
    <div class="card profile-header">
        <div class="body mt-3">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="profile-image float-md-right"> <%= gravatar_for(user, size: 100, class: "rounded-circle m-3") %> </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <h4 class="m-t-0 m-b-0"><strong><%= user.username %></strong></h4>
                    <span class="job_post"><%= user.email %></span>
                    <p><%= pluralize(user.articles.count, "article") %></p>
                    <div class="mb-3">
                        <%= link_to "View Profile", user_path(user), class: "btn btn-primary btn-round" %>
                        <% if logged_in? %>
                          <% if current_user == user %>
                            <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-primary btn-round btn-simple" %>
                          <% end %>
                          <% if current_user.admin? %>
                            <%= link_to "Delete Profile", user_path(user), method: :delete, data: { confirm: "Your account and all asociated articles will be destroyed, Are you sure?" }, class: "btn btn-danger btn-round btn-simple" %>
                          <% end %>
                        <% end %>
                    </div>
                </div>                
        </div>
    </div>
</div>