 <div class="container mt-5">
    <h1 class="text-center">User Profile</h1>
    <div class="row d-flex justify-content-center mb-3">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"> <%= gravatar_for(@user, size: 100, class: "rounded-circle m-3") %> </div>
                <div class="text-center mt-3"> <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-small btn-primary" %>
                    <h5 class="mt-2 mb-0"><%= @user.username %></h5>
                    <h5 class="mt-2 mb-0">Latest Articles</h5>
                </div>
            </div>
        </div>
    </div>
  
  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'articles/article' %>

  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
  </div>
  
</div>